<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/dashboard/home">Dashboard - Igreja
    {{#if user}}
      <b>- [{{user.login}}]</b>
    {{/if}}
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      {{#if user}}
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard/dizimo/list">Dízimo</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            href="#"
          >Cadastros</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="nav-item">
              <a
                class="dropdown-item"
                href="/dashboard/usuario/list"
              >Usuário</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="/dashboard/setor/list">Setor</a>
            </li>
            <li class="nav-item">
              <a
                class="dropdown-item"
                href="/dashboard/familia/list"
              >Família</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/login/logout">Sair</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/login">Login
            <span class="sr-only">(current)</span></a>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>