/* RESET */

html,
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

nav,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
    color: #ea0506;
}

a:hover {
    opacity: 1;
    color: #ea0506;
}

h1,
h3 {
    color: #ea0506;
    font-size: 1.1rem;
    font-weight: bold;
}

h4 {
    color: #ea0506;
    font-size: 0.9rem;
    font-weight: bold;
}

.containerx {
    padding-top: 0rem;
    display: flex;
}

.cardx {
    flex-basis: 100%;
    margin: 0 auto;
    float: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.cardLogin {
    margin: 0 auto;
    float: none;
    padding: 15px;
}

.login {
    border-radius: 2rem;
    border-color: #333;
    border-style: groove;
    width: 22rem;
    margin-top: 140px;
}

.user {
    color: blanchedalmond;
}

.barraData {
    display: flex;
    justify-content: center;
}

.barraData .data span {
    color: blue;
}

.seta {
    width: 50px;
}

.tela {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: column;
}

.conteudo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: row;
}

.dash-full {
    width: 100%;
    padding: 5px;
}

.dash-interno {
    padding: 15px;
}

figcaption {
    font-size: 0.5rem;
    font-weight: bold;
    text-align: center;
}

img {
    filter: saturate(200%);
}

.ImglockScreen input[type="checkbox"] {
    display: none;
}

.unlocked {
    display: inline-block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url('../images/unlock-32.png');
}

.locked {
    display: inline-block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url('../images/locked-32.png');
}

​.titulo-lista {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    color: #ea0506;
    font-size: 1.1rem;
    font-weight: bold;
}

.titulo-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin: 15px;
    color: #ea0506;
    font-size: 1.1rem;
    font-weight: bold;
}

.dash-config {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 15px;
}

.dash-column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    height: 28px;
    background-color: #333;
    border-radius: 2rem;
    border-color: #daa520;
    border-style: groove;
    border-width: 0.1rem;
}

.traffic {
    display: flex;
    flex-direction: column;
    width: 12px;
    height: 32px;
}

.checked {
    width: 16px;
    height: 16px;
    background-image: url('../images/checked-16.png');
    background-repeat: no-repeat;
}

.dash-config>div>span {
    height: 16px;
    font-size: 0.8rem;
    color: #fff;
    text-align: center;
}

.form {
    overflow: auto;
    height: 410px;
}

caption {
    caption-side: top;
    color: #ea0506;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: right;
}

table {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 1px 0px 0px 0px;
    margin: 5px;
}

thead {
    flex: 0 0 auto;
    margin-left: 10px;
}

tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    height: 432px;
}

tr {
    width: 100%;
    display: table;
    table-layout: fixed;
    padding: 0px 0px 1px 5px;
}

td {
    font-family: Arial;
    font-size: 10pt;
}

.prefs {
    display: flex;
    flex-wrap: wrap;
}

.prefs-item {
    flex-basis: 48%;
    border-radius: 2rem;
    border-color: #333;
    border-style: groove;
    border-width: 0.1rem;
    display: flex;
    margin: 0 auto;
    float: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.prefs-item-line {
    flex-basis: 100%;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.prefs-item-line span {
    padding: 0 0 0 20px;
    flex-basis: 60%;
    font-size: 1em;
}

.prefs-item-line a {
    flex-basis: 40%;
}

.switch__container {
    margin: 0px auto;
    width: 60px;
}

.switch {
    visibility: hidden;
    position: absolute;
    margin-left: -9999px;
}

.switch+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.switch--shadow+label {
    padding: 2px;
    width: 60px;
    height: 30px;
    background-color: #dddddd;
    border-radius: 30px;
}

.switch--shadow+label:before,
.switch--shadow+label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

.switch--shadow+label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 30px;
    transition: background 0.4s;
}

.switch--shadow+label:after {
    width: 31px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}

.switch--shadow:checked+label:before {
    background-color: #8ce196;
}

.switch--shadow:checked+label:after {
    transform: translateX(30px);
}

/* Estilo Flat */
.switch--flat+label {
    padding: 2px;
    width: 60px;
    height: 30px;
    background-color: #dddddd;
    border-radius: 30px;
    transition: background 0.4s;
}

.switch--flat+label:before,
.switch--flat+label:after {
    display: block;
    position: absolute;
    content: "";
}

.switch--flat+label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    border-radius: 30px;
    transition: background 0.4s;
}

.switch--flat+label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 28px;
    background-color: #dddddd;
    border-radius: 26px;
    transition: margin 0.4s, background 0.4s;
}

.switch--flat:checked+label {
    background-color: #8ce196;
}

.switch--flat:checked+label:after {
    margin-left: 30px;
    background-color: #8ce196;
}

#cartoesGrafico {
    width: 600px;
}

#cartoesGraficoImg {
    width: 600px;
}

.rodape {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: italic;
    text-align: center;
}

.rodape-content {
    width: 200px;
}

.rodape-img {
    width: 101px;
}

.linha {
    width: 200px;
    height: 2px;
    background-color: #191c03;
    border: none;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}

.dropdown-menu {
    background-color: #333;
}

.dropdown-menu a {
    color: #eee;
}

.formulario{
    background-color: goldenrod;
    padding: 5px;;
}

.dash-item {
    width: calc(50% - 20px);
    padding: 15px;
}

.dash-form {
    width: calc(50% - 20px);
    padding: 30px;
    height: 554px;
    margin-right: 10px;
}

@media(max-width: 1250px) {
    .containerx {
        padding-top: 0rem;
        display: block;
    }
    .dash-item {
        flex-basis: 100%;
        width: 97%;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .dash-form {
        flex-basis: 100%;
        width: 97%;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}

@media(max-width: 576px) {
    .dash-item {
        flex-basis: 100%;
        width: 97%;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .dash-form {
        flex-basis: 100%;
        width: 97%;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .dizimo-texto {
        font-size: 0.5rem;
        font-weight: bold;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 200px;
        margin-left: 100px;
    }
    td:before {
        position: absolute;
        top: 12px;
        left: 6px;
        width: 200%;
        padding-right: 40px;
        white-space: nowrap;
        margin-left: -80px;
        font-weight: bold;
    }
    /* Usuários */
    .table-usuario>tbody>tr>td:nth-of-type(1):before {
        content: "ID:";
    }
    .table-usuario>tbody>tr>td:nth-of-type(2):before {
        content: "Nome:";
    }
    .table-usuario>tbody>tr>td:nth-of-type(3):before {
        content: "Login:";
    }
    .table-usuario>tbody>tr>td:nth-child(4),
    .table-usuario>tbody>tr>td:nth-child(5),
    .table-usuario>tbody>tr>td:nth-child(6) {
        float: left;
        width: 50px;
        padding-left: 10px;
        margin-left: 50px;
    }
    /* Setores */
    .table-setor>tbody>tr>td:nth-of-type(1):before {
        content: "ID:";
    }
    .table-setor>tbody>tr>td:nth-of-type(2):before {
        content: "Nome:";
    }
    .table-setor>tbody>tr>td:nth-child(3),
    .table-setor>tbody>tr>td:nth-child(4),
    .table-setor>tbody>tr>td:nth-child(5) {
        float: left;
        width: 50px;
        padding-left: 10px;
        margin-left: 50px;
    }
    /* Familias */
    .table-familia>tbody>tr>td:nth-of-type(1):before {
        content: "ID:";
    }
    .table-familia>tbody>tr>td:nth-of-type(2):before {
        content: "Nome:";
    }
    .table-familia>tbody>tr>td:nth-of-type(3):before {
        content: "Qtde:";
    }
    .table-familia>tbody>tr>td:nth-child(4),
    .table-familia>tbody>tr>td:nth-child(5),
    .table-familia>tbody>tr>td:nth-child(6),
    .table-familia>tbody>tr>td:nth-child(7) {
        float: left;
        width: 40px;
        padding-left: 5px;
        margin-left: 30px;
    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

div.login {
    animation-name: fade;
    animation-duration: 500ms;
}

@keyframes move {
    from {
        opacity: 0;
        transform: translateX(-135%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

form {
    overflow: hidden;
}

.input-block:nth-child(1) {
    animation: move 500ms;
    animation-delay: 550ms;
    animation-fill-mode: backwards;
}

.input-block:nth-child(2) {
    animation: move 500ms;
    animation-delay: 200ms;
    animation-fill-mode: backwards;
}

@keyframes move-down {
    from {
        opacity: 0;
        transform: translateY(-135%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

button.button-block {
    animation: move 1500ms;
    animation-delay: 800ms;
    animation-fill-mode: backwards;
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search input {
    width: 150px;
}

.search form {
    width: 250px;
    display: flex;
}

.search button {
    background-image: url('../images/filter-32.png');
    background-repeat: no-repeat;
    height: 37px;
    width: 37px;
}

.container-alert {
    position: absolute;
    margin: 0 auto;
    padding: 10px;
    width: 380px;
    height: 250px;
    left: calc(50% - 190px);
    top: calc(50% - 110px);
    background-color: white;
    z-index: 9999;
    border-radius: 2rem;
    border-color: red;
    border-style: groove;
    animation: move-down 1s;
    /* animation-delay: 800ms; */
    animation-fill-mode: backwards;
}

.alert {
    left: 0;
    width: 100%;
    border: none;
    margin: 0px;
}

.alert>span {
    color: #ea0506;
}

.container-alert>h3 {
    background-color: #ea0506;
    color: white;
    text-align: center;
    vertical-align: middle;
}