<div class="dash-full">
  <div class="titulo-lista">
    <span><a href="/dashboard/dizimo/list">Dizimo</a></span>
  </div>
  <div class="mx-auto bg-white rounded shadow mt-2 container-lg">
    <fieldset class="form-group">
      <form action="/dashboard/dizimo/save" method="post" class="row mt-3">
        {{#each familias}}
          <div class="col-10 mr-auto"><span
              class="dizimo-texto"
            >{{nome}}</span></div>
          <div class="switch__container col-sm-auto ml-auto">
            <input
              id="dizimista-{{id_familia}}"
              name="id_familia"
              class="switch switch--shadow"
              type="checkbox"
              value="{{id_familia}}"
              {{#xif status '==' 'pago'}}checked{{/xif}}
            />
            <label for="dizimista-{{id_familia}}"></label>
          </div>
        {{/each}}
        <div class="text-center col-sm-12 mt-1 mb-1">
          <button class="btn btn-primary" type="submit">Gravar</button>
        </div>
      </form>
    </fieldset>
  </div>
</div>